#!/bin/sh -e
# based on https://salsa.debian.org/kernel-team/linux/blob/master/debian/templates/image.prerm.in

# Tell initramfs builder whether it's wanted
export INITRD=Yes

version=${PV}-${KERNEL_NAME_PROVIDED}-${PR}
image_path=/boot/${KERNEL_FILE}-${version}

if [ "$1" != remove ]; then
    exit 0
fi

linux-check-removal $version

if [ -d /etc/kernel/prerm.d ]; then
    DEB_MAINT_PARAMS="$*" run-parts --report --exit-on-error --arg=$version \
	      --arg=$image_path /etc/kernel/prerm.d
fi

exit 0
